@import url("fonts.css");
@import url("menu.css");
@import url("modal.css");
@import url("clock.css");

:root {
    --foreground-color: #dda;
    --hand-color: #ee8;
    --second-hand-color: #ff6;
    --background-color: #222;
    --date-window-border: var(--foreground-color);
    --date-foreground-color: #ddd;
    --hand-base-color: #333;
    --clock-elements-drop-shadow: #000;
}

*, *::before, *::after {
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 1rem;
    position: relative;
}
svg {
    position: fixed;
    width: 99vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-aspect-ratio: 1/1) {
    svg {
        position: fixed;
        width: 99vw;
    }
}
