:root {
    --background-color: #222;
    --hand-drop-shadow-color: rgba(0 0 0 / 0.5);
}
*, *::before, *::after {
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 1rem;
    position: relative;
}
svg {
    position: fixed;
    width: 99vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-aspect-ratio: 1/1) {
    svg {
        position: fixed;
        width: 99vw;
    }
}
#hourHandBase,
#minuteHandBase,
#secondHandBase {
    filter: drop-shadow(0 0 3px var(--hand-drop-shadow-color));
}
#hourHandCircle,
#minuteHandCircle,
#secondHandCircle {
    display: none;
}

