@import url("fonts.css");
@import url("menu.css");
@import url("modal.css");

:root {
    --foreground-color: #dda;
    --hand-color: #ee8;
    --second-hand-color: #ff6;
    --background-color: #222;
    --date-window-border: var(--foreground-color);
    --date-foreground-color: #ddd;
}

*, *::before, *::after {
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 1rem;
    position: relative;
}
svg {
    position: fixed;
    width: 99vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-aspect-ratio: 1/1) {
    svg {
        position: fixed;
        width: 99vw;
    }
}

#svg-clock-hour-hand-highlight {
    fill: var(--hand-color) !important;
}
#svg-clock-minute-hand-highlight {
    fill: var(--hand-color) !important;
}
#svg-clock-second-hand-highlight {
    fill: var(--second-hand-color, var(--hand-color)) !important;
}
#svg-clock-legends text {
    fill: var(--foreground-color) !important;
}
#svg-clock-ticks path,
#svg-clock-ticks circle,
#svg-clock-ticks rect {
    fill: var(--foreground-color) !important;
}
#svg-clock-decorative-inner-borders * {
    stroke: var(--foreground-color) !important;
}
#svg-clock-day-complication rect,
#svg-clock-date-complication rect {
    stroke: var(--date-window-border) !important;
}
#svg-clock-day-complication-text,
#svg-clock-date-complication-text {
    fill: var(--date-foreground-color) !important;
}
